.App {
  width: 100%;
  color: white;
}

.inputContainer {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer input{
    height: 70%;
    width: 18%;
    padding-left: 13px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: transparent;
    border: 2px solid lightgreen;
    color: lightgreen;
}

.inputContainer button{
    height: 70%;
    width: 8%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: transparent;
    border: 2px solid lightgreen;
    color: lightgreen;
    cursor: pointer;
}

.h1 {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
